<html>
<head>
<title>
Ordering Notice
</title>
<body>
<h1> Ordering Notice </h1>
<p>
Dear {{ person_name }},
</p>
<p>Thanks for placing an order with {{ company }} . It is scheduled to 
ship on {{ ship_date|date:"F j, Y"}} .</p>
<p>
You ordered the following items
</p>
<ul>
{% for item in item_list %}
<li>{{ item }}</li>
{% endfor %}
</ul>
{% if ordered_warranty %}
<p>Warranty Info wil be in the package</p>
{% else %}
<p> You didnt order a warranty! </p>
{% endif %}

<p> SIncerely, <br />{{ company }}</p>
</body>
</head>
</html>